<h1>Hello there!</h1>

<form action="/birthday" method="post">
  <label for="birthday_name">
  <h3>What's your name?</h3>
  <input type="text" name="birthday_name">
<label for= 'birthday_date'>
  <h3>When's your birthday?</h3>
  <input type="date" id="birthday_date" name="birthday_date">
</label>
  <input type="submit" value="Submit">
</form>
